
<body>
    <div th:fragment="header">
        <header>
            <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">MedStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" th:unless="${auth}">
                        <a class="nav-link active" th:href="@{/login}">Log in</a>
                    </li>
                    <!-- if user is logged in  -->
                    <div th:if="${auth}" th:remove="tag">
                        <li class="nav-item">
                            <a th:href="@{/profile}" class="text-decoration-none nav-link active img-color-inversion"><img
                                th:src="@{images/person-circle.svg}" alt="" width="20px"></a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{/profile}" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false" th:text="${username}">
                              
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                              <li><a class="dropdown-item" th:href="@{/empty_cart}">Cart</a></li>
                              <li><form action="" th:action="@{/logout}" method="post"><button type="submit" class="dropdown-item">Sign out</button></form></li>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" th:href="@{/orders}">My orders</a></li>
                            </ul>
                          </li>
                    </div>
                    <!--  -->
                  </ul>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </nav>
          </header>
    </div>
</body>
</html>